body {
	background-color: #009688;

}

.container {
	width: 100%;
	margin: 20px auto;
	
}

h1, h2, form, ul, li, form{
	margin: 0 auto;
	color: white;
}
form{
	color: black;
}
h1, h2, form, li {
	text-align: center;
}
li {
	list-style: none;
	text-align: center;
}

.rmvbutton {
	color: black;
	margin-left: 10%;
}